:root {
  --primary-color: #0A145A;
  --primary-color-rgb: 71, 134, 238;
  --secondary-color: #FF7851;
  --secondary-color-rgb: 255, 120, 81;
  --tertiary-color: #0A145A;
  --tertiary-color-rgb: 133, 89, 230;
}

/* #0A145A */